@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inria sans", sans-serif;
    font-weight: 900;
    font-size: large;
}

body {
    background-color:white;
}

.header {
    width: 100%;
    height: 10vh;
}

.navbar {
    width: 90%;
    height: 150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.list{
    border: solid red 2px ;
    border-radius: 6px;
    cursor: pointer;

}

 .navbar .social ul li a i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 15px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    background-color: #9290df42;
    transition: all 1s ease-in;
    margin-top: 1px;
    list-style: none;
}


.navbar .social ul li a i:hover {
    background-color: rgba(158, 74, 109, 0.9);
}

a:hover {
    text-decoration: solid;
    color: #000000;
}
 .navbar .list a:hover{
    text-decoration: none;
    color:rgb(230, 20, 20) ;
    list-style: none;
}
.logo .img {
    width: 170px;
    height: 170px;
    animation-duration: 3s ease-in-out;
}
 .name{
    align-items: center;
    justify-content: center;
    font-size: large;
    color: red;

}
.info {
    justify-content: center;
    text-align: center;
}
